fieldset{
    display: flex;
    flex-direction: column;
    margin: 5%;
}
form{
    display: flex;
    justify-content: center;
}
.forAll{
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#btn{
    margin: 4%;
    width: max-content;
}